body{
    margin: 0;
}

.webapp{
    width: 100%;
    height: 100%;
}

.mainpage-header{
    background-color: black;
    height:50px;
    width: 100%;
}

#mainpage-menuicon{
    color:white;
    padding: 5 0 5 5;
    width:30px;
}

.menu-button{
    width: 100%;
}